NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.vavof.mongodb.net/personalPortfolio?retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5173
PUBLIC_SITE_URL=http://localhost:5173
